body,html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
.wrapper{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}
.instruction-content{
    height: 100%;
    width: 60%;
}
.instructions{
    justify-self: center;
    width: 40%; 
    height: 100%; 
    text-align: center;
}
.container-main{
    height: auto; 
    width: 60vw; 
    flex-flow: column !important;
}